<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid d-flex">
      <div class="my-1 mx-3">
        <a class="navbar-brand" routerLink="/">
          <img
            src="../../../../assets/Logo_f.png"
            alt="Bootstrap"
            width="30"
            height="24"
          />
        </a>
      </div>
      <div class="navbar-collapse ml-auto" id="navbarNavDropdown">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mx-2">
            <a class="nav-link" routerLink="/">Home</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLink="/recipes">Recipes</a>
          </li>
          <li class="nav-item mx-2" *ngIf="!isLoggedIn">
            <a class="nav-link" routerLink="/auth/login">Login</a>
          </li>
          <li class="nav-item mx-2" *ngIf="!isLoggedIn">
            <a class="nav-link" routerLink="/auth/registration">Registration</a>
          </li>
          <li class="nav-item mx-2" *ngIf="isLoggedIn">
            <a class="nav-link" routerLink="/recipes/add-recipe">Add Recipe</a>
          </li>
          <li class="nav-item mx-2" *ngIf="isLoggedIn">
            <a class="nav-link" routerLink="/auth/profile">Profile</a>
          </li>
          <li class="nav-item mx-2" *ngIf="isLoggedIn">
            <a class="nav-link" (click)="logout()">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
