<div class="container mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="px-5 py-5">
        <form class="register" [formGroup]="form" (ngSubmit)="changePass()">
          <fieldset>
            <h2 class="mb-4 text-center">Change password</h2>
            <div class="forms-inputs mb-4">
              <span>Password</span>
              <input
                type="password"
                name="password"
                id="password"
                required
                formControlName="password"
              />
              <ng-container *ngIf="form.get('password')?.touched">
                <div
                  class="text-danger"
                  *ngIf="form.get('password')?.errors?.['required']"
                >
                  Password is required!
                </div>
                <div
                  class="text-danger"
                  *ngIf="newPassGroup?.get('password')?.errors?.['minlength']"
                >
                  Password must be 5 character!
                </div>
              </ng-container>
            </div>
            <ng-container formGroupName="newPassGroup">
              <div class="forms-inputs mb-4">
                <span>New password</span>
                <input
                  type="password"
                  name="newPassword"
                  id="newPassword"
                  formControlName="newPassword"
                />
                <ng-container *ngIf="newPassGroup?.get('newPassword')?.touched">
                  <div
                    class="text-danger"
                    *ngIf="newPassGroup?.get('newPassword')?.errors?.['required']"
                  >
                    New password is required!
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="newPassGroup?.get('newPassword')?.errors?.['minlength']"
                  >
                    New password must be 5 character!
                  </div>
                </ng-container>
              </div>
              <div class="forms-inputs mb-4">
                <span>Repeat new password</span>
                <input
                  type="password"
                  name="newRePassword"
                  id="newRePassword"
                  formControlName="newRePassword"
                />
                <ng-container
                  *ngIf="newPassGroup?.get('newRePassword')?.touched"
                >
                  <div
                    class="text-danger"
                    *ngIf="newPassGroup?.get('newRePassword')?.errors?.['required']"
                  >
                    Repeat Password is required!
                  </div>
                  <div
                    class="text-danger"
                    *ngIf="newPassGroup?.errors?.['matchPasswordsValidator']"
                  >
                    Repeat new password does not match password!
                  </div>
                </ng-container>
              </div>
            </ng-container>
            <div class="mb-3">
              <button
                [disabled]="form.invalid"
                [style]="{ backgroundColor: form.invalid ? 'grey' : 'black' }"
                class="btn btn-dark w-100"
              >
                Change password
              </button>
            </div>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
